[submodule "CRN"]
	path = CRN
	url = https://gitlab.com/Swidilator/CRN.git
[submodule "GAN"]
	path = GAN
	url = https://gitlab.com/Swidilator/GAN.git
[submodule "support_scripts/components/flownet2_pytorch"]
	path = support_scripts/components/flownet2_pytorch
	url = https://gitlab.com/Swidilator/flownet2-pytorch.git
