[submodule "CRN"]
	path = CRN
	url = https://gitlab.com/Swidilator/CRN.git
[submodule "GAN"]
	path = GAN
	url = https://gitlab.com/Swidilator/GAN.git
[submodule "support_scripts/flownet2-pytorch"]
	path = support_scripts/flownet2-pytorch
	url = https://github.com/NVIDIA/flownet2-pytorch.git
